* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  h1, h2, p {
    @include likid(font-size, 0.25);
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;

    &.big { @include likid(font-size, 1); }

    .line {
      display: block;
      
      &.right { text-align: right; }
      &.center { text-align: center; }
    }
  }
}