* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

[class^=likid] {
  @include likid(font-size, 0.5);
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;

  .line {
    display: block;

    &.right { text-align: right; }
    &.center { text-align: center; }
  }
}
